body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(132, 172, 172);
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}


.section, .section1 {
    height: 200px;
    
    box-sizing: border-box;
    border: 1px solid black;
    margin: 10px 0;
    position: relative; /* Ajout de la propriété position: relative; */
}

.title1,
.title2,
.title3 {
    position: absolute;
    top: 0px; /* Ajustez la valeur pour positionner correctement les titres */
    right: 0px; /* Ajustez la valeur pour positionner correctement les titres */
    color: #fff;
    border-bottom-left-radius: 5px;
    font-weight: bold;
}

.title1 {
    background-color: #3498db;
    padding: 10px;
}

.title2 {
    background-color: #c42323;
    padding: 10px;
}

.title3 {
    background-color: #31b320;
    padding: 10px;
}
.section p,.section1 p {
    margin-top: 40px; /* Ajustez cette valeur pour faire descendre le paragraphe */
}

